{%load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style2.css">
    <title>Socioeducação</title>
</head>
<body>
    <header>
        <h1>Socioeducação</h1>
    </header>
    
    <nav>
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="conceitual">Mapa conceitual</a></li>
            <li><a href="avaliacao">Avaliação</a></li>
        </ul>
    </nav>
    
    <section>
        <iframe width="1800" height="1200" src="https://miro.com/app/live-embed/uXjVNSktCZA=/?moveToViewport=-13418,-7803,30628,14660&embedId=742203062982" frameborder="0" scrolling="no" allow="fullscreen; clipboard-read; clipboard-write" allowfullscreen></iframe>
        <iframe width="1200" height="2400" src="https://docs.google.com/document/d/e/2PACX-1vRk2osl80R10JppK4gw4MMUL8nyDwlWII3Z-1tfiB9UEw_BlhUk8sjFvKSuxoi5-lcFEcMc44JymUuT/pub?embedded=true"></iframe>    </section>
    
    <footer>
        <p>&copy; 2023 Socioeducação. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
